body {
    font-family: Arial;
    margin: 0;
    background: #f4f6f9;
}


header {
    background: #2c3e50;
    padding: 20px 40px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
}

nav a:hover {
    text-decoration: underline;
}

.post-btn {
    background: #3498db;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

.post-btn:hover {
    background: #2980b9;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
}

.hero-left {
    width: 50%;
}

.hero-left h1 {
    font-size: 42px;
    margin: 10px 0;
    color: #2c3e50;
}

.hero-left p {
    margin-bottom: 20px;
    color: #555;
}

.hero-left button {
    background: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.hero-left button:hover {
    background: #2980b9;
}

.hero-right img {
    width: 320px;
}